body{
    background-color: antiquewhite;
    /* display: flex; */
    display: block;

}
.preview{
    width: 500%;
    display: block;
    justify-content: space-between;
    margin-top: 5%;
    max-width: 50vw;
}
