body{
    background-color: aqua;
}
.a1{
    box-shadow: 0 0 4px 8px;
    background-color: aquamarine;
    max-width: 500px;
    margin-left: 40%;
    text-align: center;
    margin-top: 15%;
    display: block;
border-radius: 20px;
}   